.body-container {
    display: flex;
    justify-content: center;

    .searchbar {
       display: flex;
       align-items: center;
       height: 30px;
       position: absolute;
       
       
       input {
        border-radius: 20px;
        width: 900px;
        height: 40px;
        padding-left: 20px;
        font-size: 16px;
        border: none;
       }

       .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 25px;
            position: absolute;
            right: 12px;
       }

    }

    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            border: none;
            outline: none;
            width: 150px;
            padding: 0.3rem 0;
            margin: 2rem;
            font-weight: bold;
            font-size: 1rem;
            border-radius: 8px;

        }
    }
}