@import "../../breakpoints.scss";

.card {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  width: 80vw;
  margin: 150px 0 50px 0;
  gap: 50px;

  @include mobile {
    width: 50vw;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff75;
    width: 230px;
    height: 260px;
    border: 2px solid var(--border);
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);


    .section-image {
      display: flex;
      justify-content: center;
      margin-top: 0;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      position: relative;
      bottom: 52px;

      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
      }
    }

    .text-name {
      position: relative;
      bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .text-human {
      position: relative;
      bottom: 20px;

      .stats {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: green;
      }
    }

    .text-location {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}
