@import '../../breakpoints.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-top: 10px;
  background: var(--primary);
  font-family: "Poppins", sans-serif;

  @include mobile {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    li {
      list-style: none;
      padding: 0 30px;
      font-size: 20px;

      .logo {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 2px;
        bottom: 5px;

        @include mobile {
          left: 4px;
        }
      }

      .about {
        position: absolute;
        right: 30px;
        text-decoration: none;
        color: white;
        font-weight: 800;

        @include mobile {
          right: 10px;
          font-weight: 500;
        }
      }

      :hover {
        text-decoration: overline;
      }
    }
  }
}
